#intro{
	/*background: url('../img/lh.jpg');*/
	background-repeat: no-repeat;

}

.navbar{
	background: #fff url('../img/border.jpg');
	background-repeat: repeat-x;
	background-position: bottom;
}

.float_l{
	float: left;
}

.float_r{
	float: right;
}

.img_materi{
	width: 160px;
	margin-right: 10px;
}

.ebuk{
	padding: 10px;
	margin-right: 20px;
}

.ebuk img{
	width: 120px;
}

.ebuk table tr td{
	*border: 1px solid black;
	text-align: center;
	padding: 10px;
}

.contact-section{
	color: white;
}

.pagination li{
	cursor: pointer;
}
